<div *ngIf="groupObj">
  <div class="col-3 spacer">{{ groupObj.name }}</div>
  <div class="col-2">{{ groupObj.weight }}</div>
  <div class="col-1"></div>
  <div class="col-2">{{ groupObj.average()*100 }}%</div>
  <span class="buttons">
    <i *ngIf="!isExpanded" (click)="isExpanded = true" class="fa fa-chevron-down submenu"></i>
    <i *ngIf="isExpanded" (click)="isExpanded = false" class="fa fa-chevron-up submenu"></i>
  </span>
  <div class="grades" *ngIf="isExpanded">
    <div class="heading">
      <div class="col-3 spacer">Name</div>
      <div class="col-2">Points Earned</div>
      <div class="col-1"></div>
      <div class="col-2">Total Points</div>
      <span class="right">
        <i *ngIf="!cancel" (click)="newGrade()" class="fa fa-plus white"></i>
        <i *ngIf="cancel" (click)="cancelNewGrade()" class="fa fa-times white"></i>
      </span>
    </div>
    <div class="grade" *ngFor="let grade of gradeObjs">
      <gt-grade (newGrade)="saveNewGrade($event)" [grade]="grade.grade" [edit]="grade.edit" ></gt-grade>
    </div>
  </div>
</div>