.submenu {
    margin-right: 5px;
}

.buttons {
    float: right;
}

.spacer {
    padding-left: 10px;
}

.submenu {
    margin-right: 5px;
}

.fa {
    margin-left: 10px;
}

.fa {
    cursor: pointer;
}

.white {
    color: white;
}

.right {
    float: right;
    margin-right: 10px;
}

.heading {
    background-color: rebeccapurple;
    padding: 5px 0px;
    border-bottom: 1px solid black;
}

.grades {
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
}

.grade {
    padding: 5px 0px;
    border-bottom: 1px solid black;
}

.grade:last-child {
  border-bottom: none;
}

input {
    width: 80%;
}


.right-button {
    float: right;
    margin-top: -2px;
    padding-right: 5px;
}

.space {
    min-width: 15px;
}

.weight {
    min-width: 50px;
}

@media only screen and (max-width:690px) {
    .fa {
        margin-left: 5px;
    }

}