<div *ngIf="!edit && groupObj">
  <div class="col-3 spacer">{{ groupObj.name }}</div>
  <div class="col-2">{{ groupObj.weight }}</div>
  <div class="col-1"></div>
  <div class="col-2">{{ groupObj.average()*100 | number:'.1-3' }}%</div>
  <span class="buttons">
    <i (click)="editMode()" class="fa fa-pencil"></i>
    <i (click)="deleteGradeGroup()" class="fa fa-trash"></i>
    <i *ngIf="!isExpanded" (click)="isExpanded = true" class="fa fa-chevron-down submenu"></i>
    <i *ngIf="isExpanded" (click)="isExpanded = false" class="fa fa-chevron-up submenu"></i>
  </span>
  <div class="grades" *ngIf="isExpanded">
    <div class="heading">
      <div class="col-3 spacer">Name</div>
      <div class="col-2">Points Earned</div>
      <div class="col-1"></div>
      <div class="col-2">Total Points</div>
      <span class="right">
        <i *ngIf="!cancel" (click)="newGrade()" class="fa fa-plus white"></i>
        <i *ngIf="cancel" (click)="cancelNewGrade()" class="fa fa-times white"></i>
      </span>
    </div>
    <div class="grade" *ngFor="let grade of gradeObjs">
      <gt-grade (deleter)="deleteGrade($event)" (newGrade)="saveNewGrade($event)" [grade]="grade.grade" [edit]="grade.edit" ></gt-grade>
    </div>
  </div>
</div>

<div *ngIf="edit">
  <form [formGroup]="groupForm">
    <div class="form-group">
      <div *ngIf="!nameComplete" class="col-3 spacer">
        <input formControlName="name" type="text">
      </div>
      <div *ngIf="nameComplete" class="col-3 spacer">
          {{groupForm.controls['name'].value}}
        </div>
      <div *ngIf="nameComplete" class="col-2">
        <input (keyup)="change.emit();" max="100" min="0" formControlName="weight" type="number">
      </div>
      <span *ngIf="!nameComplete" class="right-button"><button (click)="adjustWeights()" [disabled]="!groupForm.controls['name'].valid" class="btn">Next</button></span>
    </div>
  </form>
</div>