.buttons {
    float: right;
}

.fa-chevron-down {
    margin-left: 10px;
}

.fa-chevron-up {
    margin-left: 10px;
}

.submenu {
    margin-right: 5px;
}

.white {
    color:white;
}
.fa-plus {
    margin-left: 10px;
}

.fa {
    cursor: pointer;
}

.right {
    margin-right: 10px;
}

.grade-groups {
    margin-left: 10px;
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 5px;
}

.heading {
    border-bottom: 1px solid black;
    background-color:rebeccapurple;
    padding: 5px 0px;
}

.spacer {
    padding-left: 10px;
}

.group {
    border-bottom: 1px solid black;
    padding: 5px 0px;
}

.group:last-child {
    border-bottom: none;
}

.fa {
    color:rebeccapurple;
    margin-left: 10px !important;
    cursor: pointer;
}

.help-text {
    color:red;
    border-bottom: 1px solid black;
    font-style: italic;
    text-align: center;
    padding: 5px;
}

input {
    position: relative;
    width: calc(100% - 30px);
    min-width: 25px;
}

.scale {
    margin-top: 15px;
    margin-bottom: 10px;
}

.ellipses {
    text-overflow: ellipsis;
    overflow: hidden;
}