<div *ngIf="courseObj" class="course-wrapper">
    <div *ngIf="!edit" class="col-4 ellipses">{{ courseObj.name }}</div>
    <div *ngIf="edit" class="col-4"><input class="ellipses" [(ngModel)]="courseObj.name"></div>

    <div class="col-2 grade">
      <span *ngIf="courseObj.gradeGroups.length">
        {{ courseObj.averageInCourse()*100 | number:'.1-3' }}%
      </span>
    </div>

    <div *ngIf="!edit" class="col-1">{{ courseObj.hours }}</div>
    <div *ngIf="edit" class="col-1"><input type="number" min="1" [(ngModel)]="courseObj.hours"></div>

    <span *ngIf="!edit && allowButtons" class="buttons">
      <i (click)="beginEdit()" class="fa fa-pencil"></i>
      <i (click)="delete()" class="fa fa-trash"></i>
      <i *ngIf="!isExpanded" (click)="isExpanded = true" class="fa fa-chevron-down"></i>
      <i *ngIf="isExpanded" (click)="isExpanded = false" class="fa fa-chevron-up"></i>
    </span>

    <div class="scale" *ngIf="edit">
      <label>Scale Type</label>
      <select [(ngModel)]="courseObj.scaleType">
        <option value="letter">Letter (eg: 'A', 'B', 'C')</option>
        <option value="plusMinus">Plus Minus (eg: 'A+', 'A', 'A-')</option>
        <option value="plus">Plus (eg: 'A+', 'A', 'B+', 'B')</option>
      </select>
    </div>

    <gt-grade-scale *ngIf="edit" (complete)="courseObj.gradeScale = $event" [type]="courseObj.scaleType" [scale]="courseObj.gradeScale" [confirmButton]="false"></gt-grade-scale>
</div>
<div *ngIf="isExpanded" class="grade-groups">
  <div class="heading">
    <div class="col-3"><span class="spacer">Grade Group Name</span></div>
    <div class="col-1 weight">Weight</div>
    <div class="col-1 space"></div>
    <div class="col-2">Average Grade</div>
    <span class="right">
      <i *ngIf="!cancel && !groupEdit" (click)="newGradeGroup()" class="fa fa-plus white"></i>

      <i *ngIf="groupEdit" (click)="cancelEdit()" class="fa fa-times white"></i>
      <i *ngIf="cancel && !groupEdit" (click)="cancelNewGradeGroup()" class="fa fa-times white"></i>

      <i *ngIf="cancel && canConfirmNewGroups" (click)="confirmNewGradeGroup()" class="fa fa-check white"></i>
      <i *ngIf="groupEdit && canConfirmNewGroups" (click)="confirmNewGradeGroup()" class="fa fa-check white"></i>
    </span>
  </div>
  <div *ngIf="cancel && !canConfirmNewGroups" class="help-text">Total Weights Must Add to 100</div>
  <div class="group" *ngFor="let group of gradeGroups">
    <gt-grade-group (save)="saveGroup($event, group)" 
                    (change)="checkWeightTotals()"
                    (weight)="changeWeights()"
                    (deleteGroup)="deleteGroup($event)"
                    (editGroup)="editGroup()"
                    [group]="group.group"
                    [edit]="group.edit"
                    id="{{group.id}}"></gt-grade-group>
  </div>
</div>
