<div class="menu">
  <h1>Create Grade Groups</h1>
  <div class="pair">
    <label>Number of Grade Groups: </label>
    <input class="input-num" (keyup)="createGroups()" [(ngModel)]="numGradeGroups" type="number">
  </div>
  <div *ngIf="numGradeGroups > 0" class="header">
    <div class="col-4"><div class="pad-left">Grade Group Name</div></div><!-- Prevents white space from fucking the spacing up
 --><div class="col-1"></div><!--     
 --><div class="col-2"><div class="pad-left">Weight</div></div><!-- kinda dumb but oh well
 --><div class="col-1"></div><!--     
 --><div class="col-2"><div class="pad-left"># of Grades <i>(optional)</i></div></div>
  </div>
  <div class="groups" *ngFor="let group of groups">
    <form [formGroup]="group">
        <div class="form-group">
          <div class="col-4">
            <input class="hundo" formControlName="name">
          </div><!--
       --><div class="col-1"></div><!--     
       --><div class="col-2"><input class="hundo" formControlName="weight"></div><!--
       --><div class="col-1"></div><!--     
       --><div class="col-2"><input class="hundo" formControlName="numGrades"></div>          
        </div>
      </form>
  </div>

</div>
