.menu {
    background-color: #B8B8B8;
    width: 95%;
    border-radius: 5px;
    margin-top: 10px;
}

input {
  display: block;
  margin: auto;
}

.pair {
  display: inline-block;
  text-align: center;
  width: 33%;
}


h1 {
  margin: 0px;
  font-size: 20px;
  padding: 5px 0px 10px 5px;
}

.form-group {
  padding-bottom: 10px;
}

.right {
  float: right;
}
