.page {
    border-radius: 5px;
    padding: 0px 15px;
    cursor: pointer;
}

.title {
    background-color: #292929;
    width: 232px;
    border-radius: 5px;
    padding: 0px 15px;
    padding-top: 10px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 40px;
    font-family: impact;
}