.form-group {
    border-left: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    border-right: 1px solid black;
    padding: 5px 0px;
}

.hundo {
    width: calc(100% - 36px);
    margin: 0 10px;
}

.weight {
    min-width: 40px;
}

:host(.bottom) {
    .group {
        form {
            .form-group {
                border-bottom: 1px solid black;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
    }
}